:root {
    --background-dark-blue: #1D3557;
    --background-lighter-blue: #457B9D;
    --background-light-blue: #A8DADC;
    --background-red: #E63946;
}

.grid-item {
    background-color: var(--background-lighter-blue);
    width: min(1.25vw, 2.3vh);
    height: min(1.25vw, 2.3vh);
    border: 0.1px solid var(--background-dark-blue);
}

.source {
    background-color: var(--background-light-blue);
}

.target {
    background-color: var(--background-red);
}

.discovered {
    background-color: var(--background-light-blue);
    animation: colorWave 1500ms;
}

.wall {
    background-color: var(--background-dark-blue);
    animation: growShrink 500ms;
}

.path {
    background-color: yellowgreen;
    animation: growShrink 500ms;
}

@keyframes growShrink {

    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes colorWave {
    0% {
        background-color: #512ba9;
        border-radius: 100%;
        transform: scale(0.3);
    }

    50% {
        background-color: #625dc8;
    }

    75% {
        background-color: #5f79f0;
        transform: scale(1.2);
    }

    100% {
        background-color: #7fd7f2;
        transform: scale(1);
    }
}